<%- include("partials/header.ejs") %>


    <div class="m-3">
      <form action="/submit" method="POST">
        <input type="text" name="title" placeholder="Title" class="m-3" required><br>
        <textarea name="content" rows="5" cols="50" class="m-3" required></textarea><br>

        <% const now = new Date().toLocaleString('en-GB', { hour12: false }); %>

        <input type="hidden" name="time" value="<%=now%>">
        <!-- <label for="image">Select Image:</label> -->
        <!-- <input type="file" name="image" id="image" accept="image/*" required>  enctype="multipart/form-data" -->
        <input type="submit" value="OK" class="m-3 btn btn-secondary">
      </form>
      </div>


<%- include("partials/footer.ejs") %>